{% extends "bootstrap/base.html" %}


{% block title %}
	PDomoCla - L'applicazioneweb per la Domotica
{% endblock %}



{% block content %}
<link rel="stylesheet" type="text/css" href="static/index/index.css">
	<div class="jumbotron">
		<div class="text-center">PDomoCla</div>
		<div class="text-right">Claudio Lammirato</div>
	</div>
	<!--row1-->
	<div class="row">
		<div class="col-md-2 col-xs-2">
			<ul>Temperatura Casa</ul>
			<ul>Controllo Luci Casa</ul>
			<ul>Giardino</ul>
			<ul>Allarme Casa</ul>
		</div>
			<div class="col-md-8 col-xs-8">
				<div class="col-xs-3 thumbnail">
					<img src="static/index/temperatura-casa.jpg" class="img-responsive">
					<a href="#" class="btn btn-info center-block">Temperatura</a>
			</div>
			<div class="col-xs-3 thumbnail">
				<img src="static/index/controllo-luci.jpg" class="img-responsive">
				<div class="row-fluid pagination-centered">
				<a href="#" class="btn btn-info">Luci</a>
				</div>
			</div>
			<div class="col-xs-3 thumbnail">
				<img src="static/index/giardino.jpg" class="img-responsive">
				<a href="#" class="btn btn-info center-block">Giardino</a>
			</div>
			<div class="col-xs-3 thumbnail">
				<img src="static/index/allarme-casa.jpg" class="img-responsive">
				<a href="#" class="btn btn-info center-block">Allarme</a>
			</div>
		</div>
		<div class="col-md-2 col-xs-2">Colonna destra</div>
	</div>
	
	<footer><small>Claudio Lammirato Copyright</small></footer>

	
{% endblock %}